html
    head
        title= title
    body
        ul
        each val, key in {...results}
            li= 'Judul : '+val.judul+', Penerbit : '+ val.penerbit+', Penulis : '+ val.penulis+', Kategori : '+ val.kategori+', Tahun : '+ val.tahun+', Cover : '+ val.cover